# Backend dependencies
fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic>=2.0.0

# Security
authlib
bcrypt
passlib[bcrypt]
python-jose

# Frontend communication
requests

# Testing
pytest
selenium

# Linting and formatting
black
flake8

# Export utilities
pandas
fpdf
xlsxwriter